body{
    background-color:#303947;
    color: white;
}



.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.results{
    width: 100%;
    height:22em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

#roundMessage{
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    height: 100px;
}

.scoreContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.playerContainer{
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vs{
    font-size: 2.5em;
}

.computerContainer{
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnContainer{
    width: 80%;
    height: 20em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weaponBtn{
    width: 15em;
    height: 15em;
}

#playAgainBtn{
    width: 10em;
    height: 10em;
}